# ChaldOS loopback.cfg — for booting from GRUB loopback

set_theme="${prefix}/themes/chaldos/theme.txt"

menuentry "🔵 ChaldOS Gaming Edition v2.0" {
    linux /%INSTALL_DIR%/boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisodevice=${iso_path} quiet splash
    initrd /%INSTALL_DIR%/boot/initramfs-linux.img
}
