# ChaldOS — PXE boot entries
LABEL chaldos_nbd
TEXT HELP
Boot ChaldOS over network using NBD.
ENDTEXT
MENU LABEL 🔵 ChaldOS (%ARCH%, NBD)
LINUX ::/%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD ::/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archiso_nbd_srv=${pxeserver}
SYSAPPEND 3

LABEL chaldos_nfs
TEXT HELP
Boot ChaldOS over network using NFS.
ENDTEXT
MENU LABEL 🔵 ChaldOS (%ARCH%, NFS)
LINUX ::/%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD ::/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archiso_nfs_srv=${pxeserver}:/run/archiso/bootmnt
SYSAPPEND 3

LABEL chaldos_http
TEXT HELP
Boot ChaldOS over network using HTTP.
ENDTEXT
MENU LABEL 🔵 ChaldOS (%ARCH%, HTTP)
LINUX ::/%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD ::/%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archiso_http_srv=http://${pxeserver}/
SYSAPPEND 3
